NODE_ENV=
PORT=
CLIENT_URL=

MONGODB_URI=

JWT_SECRET=
JWT_EXPIRES_IN=

REDIS_HOST=
REDIS_PORT=

ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_API_BASE_URL=

ZOOM_WEBHOOK_SECRET_TOKEN=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
SMTP_FROM_NAME=
